<!DOCTYPE html>
<html>
<head>
    <title>Select Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1 style="text-align:center;">Select Login</h1>

<div style="display:flex; justify-content:center; gap:50px; margin-top:50px;">

    <!-- Teacher -->
    <a href="/teacher_login" style="text-decoration:none;">
        <div style="width:250px; padding:20px; background:white; text-align:center; border-radius:10px;">
            <img src="/static/images/teacher.png" width="200">
            <h2>Teacher Login</h2>
        </div>
    </a>

    <!-- Student -->
    <a href="/student_login" style="text-decoration:none;">
        <div style="width:250px; padding:20px; background:white; text-align:center; border-radius:10px;">
            <img src="/static/images/student.png" width="200">
            <h2>Student Login</h2>
        </div>
    </a>

</div>

</body>
</html>